.nav-container {
  width: 100%;
  background: $navbar-background-color;
} // .nav-container

nav {
  margin: 0 auto;

  display: grid;
  grid-template-columns: auto 1fr 1fr;

  a {
    color: $navbar-link-color;
    text-decoration: none;
    text-transform: uppercase;

    transition: 0.3s all ease-in-out;

    &:hover {
      opacity: 0.7;
    } // nav a:hover
  } // nav a
} // nav

.nav-burger-menu {
  box-sizing: content-box;
  display: none;
  width: 25px;
  height: 30px;
  padding: 20px;
  margin: 0;

  background: $navbar-background-color;
  transition: 500ms;

  &:hover {
    .line1 {
      transform: rotate(45deg) translate(12px, 10px);
    } // .nav-burger-menu:hover .line1

    .line2 {
      opacity: 0;
    } // .nav-burger-menu:hover .line2

    .line3 {
      transform: rotate(-45deg) translate(0px, 0px);
    } // .nav-burger-menu:hover /*     .line3

    ~ .nav-menu {
      grid-column: 1 / 4;
      display: grid;
      flex-direction: column;
      grid-row: 2;
      text-align: left;
      padding-left: 0;
      background-color: $navbar-background-color;
    } // .nav-burger-menu:hover ~ .nav-menu
  } // .nav-burger-menu:hover

  & > * {
    transition: 500ms;
    height: 3px;
    background: $navbar-link-color;
  } // .nav-burger-menu > *

  .short {
    width: 20px;
    margin: 5px 0;
  } // .nav-burger-menu .short
} // .nav-burger-menu

.nav-logo {
  grid-column: 2;
  padding: 0 1rem;
} // .nav-logo

.nav-menu {
  grid-column: 3;
  align-self: center;
  padding: 0 1rem 0;
  line-height: 1.5rem;
  font-size: 80%;
  text-align: right;
  background-color: transparent;

  a {
    padding: 10px 0;
    margin-left: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
  } // .nav-menu a
} // .nav-menu
